{
    "psql": 
    {
        "host": "localhost",
        "port": 5432,
        "dbname": "regatta_tracker_db",
        "min_sessions": 10,
        "max_sessions": 10
    },
    "redis": 
    {
        "host": "localhost",
        "port": 6379,
        "min_sessions": 10,
        "max_sessions": 10
    },
    "rabbitmq":
    {
        "vhost": "/"
    }
}
